/* styles.css */


* {
    background-color: grey;
}

img {
    height: auto;
    width: 500px;
}

p {
    color: yellow;
    background-color: rgb(168, 43, 43);
}

.ingred {
    color: brown;
    background-color: burlywood;
}

.direc {
    color: beige;
    background-color: blueviolet;
}
